- page_title           "#{@issue.title} (##{@issue.iid})", "Issues"
- page_description     @issue.description
- page_card_attributes @issue.card_attributes

= render "header_title"

.issue
  .detail-page-header
    .pull-right
      - if can?(current_user, :create_issue, @project)
        = link_to new_namespace_project_issue_path(@project.namespace, @project), class: 'btn btn-nr btn-grouped new-issue-link btn-success', title: 'New Issue', id: 'new_issue_link' do
          = icon('plus')
          New issue
      - if can?(current_user, :update_issue, @issue)
        = link_to 'Reopen issue', issue_path(@issue, issue: {state_event: :reopen}, status_only: true, format: 'json'), data: {no_turbolink: true}, class: "btn btn-nr btn-grouped btn-reopen #{issue_button_visibility(@issue, false)}", title: 'Reopen Issue'
        = link_to 'Close issue', issue_path(@issue, issue: {state_event: :close}, status_only: true, format: 'json'), data: {no_turbolink: true}, class: "btn btn-nr btn-grouped btn-close #{issue_button_visibility(@issue, true)}", title: 'Close Issue'

        = link_to edit_namespace_project_issue_path(@project.namespace, @project, @issue), class: 'btn btn-nr btn-grouped issuable-edit' do
          = icon('pencil-square-o')
          Edit

    .pull-left
      .status-box{ class: "status-box-closed #{issue_button_visibility(@issue, false)}"} Closed
      .status-box{ class: "status-box-open #{issue_button_visibility(@issue, true)}"} Open

    .issue-meta
      %span.identifier
        Issue ##{@issue.iid}
      %span.creator
        &middot;
        by #{link_to_member(@project, @issue.author, size: 24)}
        &middot;
        = time_ago_with_tooltip(@issue.created_at, placement: 'bottom', html_class: 'issue_created_ago')

  .issue-details.issuable-details
    .detail-page-description.content-block
      %h2.title
        = markdown escape_once(@issue.title), pipeline: :single_line
      %div
        - if @issue.description.present?
          .description{class: can?(current_user, :update_issue, @issue) ? 'js-task-list-container' : ''}
            .wiki
              = preserve do
                = markdown(@issue.description, cache_key: [@issue, "description"])
            %textarea.hidden.js-task-list-field
              = @issue.description
      - if @issue.updated_at != @issue.created_at
        %small
          Edited
          = time_ago_with_tooltip(@issue.updated_at, placement: 'bottom', html_class: 'issue_edited_ago')

      .merge-requests
        = render 'merge_requests'

    .content-block
      = render 'votes/votes_block', votable: @issue

    .row
      %section.col-md-12
        .issuable-discussion
          = render 'projects/issues/discussion'

= render 'shared/issuable/sidebar', issuable: @issue
